*
{
 margin: 0px;   
 padding: 0px;
}
body{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
.container
{
    margin: 0px 34px;
    padding: 8px ;
}
.header-nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.header-nav-logo{
    width: 140px;
}
/* .a{
    display: flex;
} */
.header-items{
    display: flex;
    gap: 25px;
    align-items: center;
}
.a a{
    color: orange;
    text-decoration:none ;
    font-size:20px;
}
.a a:hover{
    color: green;
    text-decoration: underline;
}
/* main section */
/* section 1 */
.hero{
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: space-between;
    align-items: center;
}
.main_text{
    width: 600px;
    font-style:italic ;
}
.main_img{

    width: 600px;
}
.main_text-heading{
    font-size: 43px;
    color: #808080;
}
/* section 2->card section */
.showcase{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.showcase-cards h3{
color: #818181;
font-weight: 500;
margin-top: 15px;
}
.showcase-cards img{
    width: 150px;
}
.footer{
    background-color: black;
    color: white;
    padding: 12px;

}
.footer-text{
    text-align: center;
}
.section-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.section-2-text{
    color: #818181;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;

}
.division{
    margin-right: 40px;
}