h1{
    text-align: center;
    /* text-decoration: underline overline; */
     font-family: cursive; 
     border: 3px dotted red;
}
p:hover{
    border: 3px dotted yellow;
    background-color: #808080;
    font-size: 15px;
    text-align: left;
}
.box1{
    background-color: red;
}
.box2{
    background-color: yellow;
}
div{
    /* display: inline; */
    display: inline-block;
    width: 250px;
    margin: 25px;
    font-size: 25px;
    padding: 10px;
}
span{
    display: block;
    /* width: 100px; */

}
.flex{
    
}